
.footer-logo{
    width: 291.6px !important;
    height: 60px !important;
     img{
      width: 100% !important;
      height: 100% !important;
     }
  }

footer{
    background-color: #505353 !important;
    padding-top: 50px;
}
.footer_content{
    width: 90%;
    margin: 0 auto;
    height: 200px !important;
    font-size: 15px;
}
.list_icon{
    display: flex;
   
   
}

.icon_item{
   
    font-size: 30px;
    a{
        margin: 20px;
        i{
            color:#fff !important;
        }
    }
}
.list_address{
    top: -50px;
    text-align: left;
    p{
        a{
            color:#fff;
            &:hover{
            text-decoration: underline;
            cursor: pointer;
            }
        }
    }
}

.copyright{
    padding: 10px;
    width: 100%;
    background: #454545;
}
@media (max-width: 992px) {
    // TODO
  }
